<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Email Template</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;">
        <p>Dear {company},</p>
        <p>{acceptedStatus}. Please follow the link provided below to {message}<a>.</p>

        
        <div style="margin-top: 20px; background-color: #f8d7da; color: #721c24; padding: 10px; border-radius: 5px; display: {display_comment};">
            <p>{comment}</p>
        </div>

       
        <p>Link: <a href="{link_here}">{link_text}</a></p>
    </div>
</body>
</html>