<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Job Application Sent</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;">
        <h2 style="color: #333;">Job Application Sent</h2>


        <div style="background-color: #f4f4f4; padding: 10px; border-radius: 5px;">
            <p>Dear {jobseeker},</p>
            <p>Your application for the {applicationtitle} position, advertised by {companyName}, has been successfully sent.</p>
            <p>Please refer to the following link to see the evaluation status of your application: <a href="{evaluation_link}" style="color: #007bff; text-decoration: none;">Check Status</a></p>
        </div>
        <p style="color: #333; margin-top: 20px;">Thank you for your interest.</p>
    </div>
</body>
</html>